<div class="p-top-home">
  <div class="flex-col">
    <button class="button-design"><%= link_to '本を借りる', books_path %></button>
    <button class="button-design"><%= link_to '本を返す', returns_path %></button>
    <button class="button-design"><%= link_to '新しく本を登録する', new_book_path %></button>
  </div>
</ul>
