<div class="p-top-home">
  <div class="flex-col">
    <button><%= link_to '本を借りる', books_path %></button>
    <button><%= link_to '本を返す', returns_path(user_id: 1) %></button>
    <button><%= link_to '新しく本を登録する', new_book_path %></button>
  </div>
</ul>
