// Place all the styles related to the Borrows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.p-borrow-form {
  display: flex;
  justify-content: center;
  input {
    font-size: 3rem;
    margin: 3vh auto 0;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #e6e6e6;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
  }
}