// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.p-session-login-form {
  width: 90%;
  margin: 3vh auto;
  label {
    margin-top: 3rem;
    font-size: 3rem;
  }
  input {
    font-size: 3.5rem;
  }
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }
  .checkbox {
    margin-left: 2vh;
  }
  .checkbox input[type=checkbox] {
    width:			24px;
    height:			24px;
    -moz-transform:		scale(1.4);
    -webkit-transform:	scale(1.4);
    transform:		scale(1.4);
  }
  p {
    text-decoration: underline;
  }
}
