// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.p-top-home {
  width: 90vw;
  margin: 2vh auto;
  height: 65vh;
  div.flex-col {
    margin: 3vh 0;
    padding-left: 0;
  }
  button {
    border: 10px ridge lightblue;
    width: 80%;
    height: 7vh;
    margin: 2vh auto;
    list-style: none;
    background: whitesmoke;
    filter: drop-shadow(17px 19px 15px black);
    a { 
      display: block;
      padding-top: 1vh;
      height: 5vh;
      width: 100%;
      font-size: 3vh;
      text-align: center;
      font-weight: bold;
    }
  }
}