// 色変数
$keycolorNB: #1a386b;
$keycolorSB: #7499db;
$lightblue: rgb(203, 229, 250);
$white: #ffffff;
$ofwhite: #fafbfc;
$basewhite: #f7f8f9;
$darkgray: #707070;
$gray: #989898;
$lightgray: #edefef;
$black: #0a0a0a;
$cblack: #4c4c4c;
$opofwhite: rgba(250, 251, 252, 0.9);
$opgray: rgba(152, 152, 152, 0.2);
$opblue: rgba(157, 180, 204, 0.2);
$pointcolor: #f5a85b;

// 幅変数
$wraper-width: 980px;

// 色リスト
$colors: (
  keycolorNB: #1a386b,
  keycolorSB: #7aa0e5,
  lightblue: rgba(236, 241, 245, 1),
  white: #ffffff,
  ofwhite: #fafbfc,
  basewhite: #f7f8f9,
  gray: #989898,
  darkgray: #707070,
  black: #0a0a0a,
  lightgray: #edefef,
  cblack: #4c4c4c,
  opofwhite: rgba(250, 251, 252, 0.9),
  opgray: rgba(152, 152, 152, 0.2),
  opblue: rgba(157, 180, 204, 0.2),
  pointcolor: #f5a85b
);
