<li class="p-user-list">
  <a href=<%= "/users/#{user.id}"%>>
    <%= gravatar_for user, size: 200 %>
    <p><%= user.name %></p>
  </a>
  <% if current_user.admin? && !current_user?(user) %>
    <button class="delete-box">
      <%= link_to "削除", user, method: :delete, data: { confirm: "削除しますか?" } %>
    </button>
  <% end %>
</li>
