<div class="p-isbn-search-form flex-col">
  <input type=form id="isbn_form" placeholder="ISBNコード(13ケタ)"/>

  <button id="isbn_submit_button">
    検索
  </button>

  <div id="book_search_result"></div>
</div>
